html {
    height: 100%;
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?gwknhc');
  src: url('fonts/icomoon.eot?gwknhc#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?gwknhc') format('truetype'), url('fonts/icomoon.woff?gwknhc') format('woff'), url('fonts/icomoon.svg?gwknhc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}

.icon-pencil:before {
  content: "\e905";
}

.icon-image:before {
  content: "\e90d";
}

.icon-camera:before {
  content: "\e90f";
}

.icon-mobile:before {
  content: "\e958";
}

.icon-undo2:before {
  content: "\e967";
}

.icon-redo2:before {
  content: "\e968";
}

.icon-bubble:before {
  content: "\e96b";
}

.icon-bubbles:before {
  content: "\e96c";
}

.icon-bubbles2:before {
  content: "\e96d";
}

.icon-bubble2:before {
  content: "\e96e";
}

.icon-bubbles3:before {
  content: "\e96f";
}

.icon-user:before {
  content: "\e971";
}

.icon-users:before {
  content: "\e972";
}

.icon-user-plus:before {
  content: "\e973";
}

.icon-user-check:before {
  content: "\e975";
}

.icon-user-tie:before {
  content: "\e976";
}

.icon-spinner11:before {
  content: "\e984";
}

.icon-lock:before {
  content: "\e98f";
}

.icon-unlocked:before {
  content: "\e990";
}

.icon-cog:before {
  content: "\e994";
}

.icon-cogs:before {
  content: "\e995";
}

.icon-bin:before {
  content: "\e9ac";
}

.icon-list:before {
  content: "\e9ba";
}

.icon-menu3:before {
  content: "\e9bf";
}

.icon-star-full:before {
  content: "\e9d9";
}

.icon-heart:before {
  content: "\e9da";
}

.icon-warning:before {
  content: "\ea07";
}

.icon-loop2:before {
  content: "\ea2e";
}

.icon-circle-down:before {
  content: "\ea43";
}

.icon-mail4:before {
  content: "\ea86";
}

.icon-google-plus:before {
  content: "\ea8b";
}

/* Las lineas que estan comentadas, es para que vean un ejemplo de como 
  podemos utilizar los iconos */

/* .icon-heart{
    width: 20px;
    height: 20px;
  }
  .icon-heart:hover{
      color: red;
  } */

  :root{
--color-header-footer: linear-gradient(0deg, rgba(205, 208, 60, 0.8), rgba(205, 208, 60, 0.8)),
 linear-gradient(92.95deg, rgba(230, 58, 47, 0.2) 47.55%, rgba(119, 102, 102, 0) 74.23%), 
 linear-gradient(0deg, rgba(237, 191, 101, 0.7), rgba(237, 191, 101, 0.7)), #0EE9EF;
 --box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

--font-text-natural: 'Prompt', sans-serif;
--font-title: 'Ubuntu', sans-serif;
--font-small-text : 'Work Sans', sans-serif;
--background-color: #ffff;
--color-text-imputs: #A9A5A5;
--color-backgroud-imputs:rgba(196, 196, 196, 0.3);
--color-background-banners: rgba(240, 238, 238, 0.9);
--color-title: #FCD536;
--button-hover: rgba(193, 153, 10, 0.95); 
--color-text-white:#ffff;   
}

header {
  width: 100%;
  height: 96px;
  left: 0px;
  top: 0px;
  background: var(--color-header-footer);
  box-shadow: var(--box-shadow);
}

header img {
  width: 159px;
  height: 136px;
  left: 0px;
  top: 0px;
}

footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 96px;
  left: 0px;
  top: 487px;
  background: var(--color-header-footer);
  box-shadow: var(--color-header-footer);
}

footer p {
  width: 569px;
  height: 27px;
  left: 37px;
  top: 527px;
  font-family: Prompt;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 30px;
}